# Core data science packages
pandas
numpy

# Machine learning packages
scikit-learn
tensorflow
keras

# Automated ML libraries
lazypredict
pycaret>=3.0.0

# NLP and deep learning packages
transformers
torch


# Visualization libraries
seaborn
matplotlib

# Additional utilities
statsmodels
sentence-transformers