# Core data science packages
pandas
numpy
matplotlib
seaborn

# Machine learning packages
scikit-learn
tensorflow
keras

# Automated ML libraries
lazypredict
pycaret>=3.0.0

# NLP and deep learning packages
transformers
torch

# Additional utilities
statsmodels

seaborn
matplotlib

sentence-transformers